.aboutlocation {
    padding: 120px 0 140px;
    overflow-y: hidden;

    @include tab62 {
        padding: 54px 0 64px;
    }

    &_block {
        padding: 0 24px;

        @include tab62 {
            padding: 0;
        }
    }

    &_block--title {
        font-size: 46px;
        font-weight: 500;
        line-height: 52px;
        text-align: center;
        margin-bottom: 76px;

        @include tab62 {
            font-size: 28px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0;
            margin-bottom: 40px;
        }
    }

    &_sides {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 35px;
        padding-bottom: 140px;

        @include tab62 {
            flex-direction: column;
            padding-bottom: 64px;
        }

        @include mobile47 {
            gap: 16px;
        }
    }

    &_left {
        @include tab62 {
            width: 100%;
        }
    }

    &_left--item {
        max-width: 495px;
        min-width: 495px;
        width: 100% !important;
        background: rgba(0, 0, 0, .32);
        padding: 91px;
        background: linear-gradient(#01040b, #01040b) padding-box, linear-gradient(269deg, #506ad4 23.58%, #ef38f2 139.51%) border-box;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        @include tab75 {
            min-width: auto;
            padding: 70px;
        }

        @include tab62 {
            max-width: 100%;
            width: 100%;
            padding: 32px;
        }
    }

    &_left--item-icon {
        @include mobile47 {
            width: 63px;
            height: 82px;
        }
    }

    &_left--item-text {}

    &_left--item-text-title {
        font-size: 21px;
        font-weight: 400;
        line-height: 31px;
        margin: 28px 0 95px;
        background: #317dff;
        background: linear-gradient(269deg, #506ad4 23.58%, #ef38f2 139.51%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include mobile47 {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: .18px;
            margin: 20px 0 48px;
        }
    }

    &_left--item-text-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: .2px;
        max-width: 414px;

        @include mobile47 {
            font-size: 13px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: .13px;
            max-width: 268px;
        }
    }

    &_right {
        @include tab75 {
            width: 60%;
        }

        @include tab62 {
            width: 100%;
        }
    }

    &_right--items {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;

        @include tab75 {
            gap: 25px;
        }

        @include tab62 {
            gap: 16px;
        }

        @include mobile47 {
            flex-direction: column;
            width: 100%;
        }
    }

    &_right--item {
        width: calc(50% - 18px);
        max-width: 420px;
        height: 257px;
        position: relative;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;

        @include tab62 {
            width: calc(50% - 8px);
        }

        @include mobile47 {
            width: 100%;
            max-width: 100%;
            height: 326px;
        }

        @include mobile35 {
            height: 235px;
        }

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, .72) .01%, rgba(0, 0, 0, .52) 52.25%, rgba(0, 0, 0, .72) 100%);
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    &_right--item-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            transition: transform .5s;
        }
    }

    &_right--item-title {
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: .02em;
        transition: color .5s;
        position: absolute;
        top: 24px;
        left: 24px;
        z-index: 10;

        @include tab75 {
            top: 10px;
            left: 10px;
        }

        @include mobile47 {
            top: 12px;
            right: auto;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            font-size: 15px;
            font-weight: 400;
            line-height: 138%;
            letter-spacing: .15px;
        }
    }

    &_info {
        margin: 0 auto;
        background: radial-gradient(90.75% 120.18% at 4.69% 8.47%, #f5e27b 0, #ec7777 26.74%, #c259c3 52.26%, #8b68f0 77.06%, #6cadf9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        max-width: 1276px;
    }

    &_info--items {
        display: flex;
        align-items: start;
        justify-content: space-between;

        @include mobile35 {
            flex-wrap: wrap;
            gap: 36px;
        }
    }

    &_info--item {
        max-width: 220px;
        width: calc(100% / 4 - 48px);
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include mobile47 {
            max-width: 128px;
            width: calc(26% - 5px);
        }

        @include mobile35 {
            width: calc(50% - 18px);
            max-width: 100%;
            gap: 4px;
        }
    }

    &_info--item-title {
        font-size: 46px;
        line-height: 112%;
        font-weight: 500;

        @include mobile47 {
            font-size: 28px;
            line-height: 116%;
            margin-bottom: 4px;
        }
    }

    &_info--item-span {
        font-size: 17px;
        line-height: 144%;
        letter-spacing: .34px;

        @include mobile47 {
            font-size: 13px;
            font-weight: 400;
            line-height: 148%;
            letter-spacing: .13px;
        }
    }
}