.forwhom {
  padding: 120px 0 140px;
  position: relative;
  overflow-y: hidden;

  @include tab62 {
    padding: 52px 0 64px;
  }

  &_block {
    display: flex;
    align-items: start;
    justify-content: space-between;

    @include tab75 {
      flex-direction: column;
      gap: 36px;
      padding: 0 24px;
    }

    @include tab62 {
      padding: 0;
      align-items: center;
    }
  }

  &_left {
    margin-right: 20px;

    @include tab75 {
      margin-right: 0;
    }
  }

  &_left--title {
    font-size: 46px;
    font-weight: 500;
    line-height: 52px;
    width: 327px;

    @include tab62 {
      font-size: 28px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0;
      text-align: center;
      width: 100%;
    }
  }

  &_right {

    @include mobile47 {
      width: 100%;
    }
  }

  &_right--items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 112px;
    max-width: 869px;
    justify-content: space-between;

    @include tab62 {
      gap: 24px 50px;
    }

    @include mobile47 {
      flex-direction: column;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: .2px;
      gap: 2px;
    }
  }

  &_right--item {
    display: flex;
    max-width: -moz-max-content;
    max-width: max-content;
    align-items: center;
    font-size: 21px;
    font-weight: 400;
    background: #01040b;
    padding: 16px 28px 16px 16px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);

    @include tab62 {
      width: calc(50% - 25px);
    }

    @include mobile47 {
      width: 100%;
      max-width: 100%;
    }

    &:nth-child(2) {
      margin-right: 19px;

      @include tab62 {
        margin-right: 0;
      }
    }

    &:nth-child(4) {
      margin-right: 119px;

      @include tab62 {
        margin-right: 0;
        padding: 16px 39px 16px 16px;
      }
    }
  }

  &_right--item-icon {
    margin-right: 20px;
    background: #0a1126;
    padding: 10px;
    display: flex;
    flex-shrink: 0;
  }

  &_right--item-span {
    line-height: 31px;

    @include mobile35 {
      font-size: 17px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: .2px;
    }
  }
}
